
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
  
header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    color: transparent;
    display: inline-block; 
    margin: 25px auto; 
    &:focus {
        outline: none;
    }
 }

h1::before, h1::after {
	content: attr(data-heading);
	position: absolute;
	top: 0;
	left: 0;	
}

h1::before {
	color: rgb(255, 10, 10);
	clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 60%)
}

h1::after {
	color: rgb(255, 255, 255);
	clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 56%);
	animation: slide 5s infinite;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translate(-20px, 2%);
	}
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

header nav ul li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 80%;
    width: 1px;
    background-color: #000000;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    background-color: #000000;
    transition: transform 0.3s ease;
    border-radius: 0;
    display: inline-block;
    position: relative;
    z-index: 1;
}

header nav ul li a:hover {
    color: #000000;
    background-color: #ffffff;
    transform: scale(1.1);
    z-index: 2;
}

.content-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slideshow-with-dots-thumbnails {
    width: 50%;
    margin-right: 20px;
  }
  
  .text-section {
    width: 400px; 
    margin-top: 50px;
    margin-left: 45px; 
    margin-right: 45px; 
    background-color: rgb(0, 0, 0);
    border-radius: 15px; 
    padding: 20px; 
  }

  
  .text-section h2 {
    text-align: center;
    font-size: 48px;
  }
  
  .text-section p {
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    padding: 0 20px;
    margin-top: -20px;
    color: #fff;
  }

  .wrapper {
    margin-left: 15px;
    text-align: center;
		color: #fff;
		font-size: 48px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#ffffff 10%, #ff7a7a 50%, #ff0000 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 3.5s linear infinite;
		display: inline-block;
	}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
  
.content {
    padding: 20px;
}

#contact-section {
    background-color: #f5f5f5;
    width: 35%;
    float: left;
}

#contact-section .icon {
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

#contact-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

#contact-section ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


#contact-section ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

#contact-section ul li .address {
    font-weight: bold;
}

#contact-section ul li a:hover {
    color: black;
}

/* Slideshow */
.slideshow-container {
    position: relative;
    width: 400px;
    margin: auto;
    top: 50px;
  }
  
  .slideshow {
    display: flex;
  }
  
  .slide {
    display: none;
  }

  .slide:first-child {
    display: block; 
  }

  .slide img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 2.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Dots */
  .dots-container {
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  /* Thumbnails */
.thumbnails {
    text-align: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 75px;
    height: 75px;
    margin: 5px;
    top:10px;
    opacity: 0.6;
    transition: opacity 0.6s ease;
    border-radius: 5px;
  }
  
  .thumbnail:hover {
    opacity: 1;
  }

  * {
    box-sizing: border-box;
  }
 
  .container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .single-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  .date-area {
    display: flex;
    background: linear-gradient(to right, #ffffff 45%, #000 45%, #000 45%, #ffffff 50%);
    order: 2;
    text-align: center;
    color: #fff;
    font-size: 28px;
    flex-basis: 100px;
  }
  .date-area>span {
    font-size: 25px;
    line-height: 70px;
    margin: auto;
    background: #000000;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .content {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    color: #ffffff;
    order: 3;
    width: 80%;
    padding-left: 10px;
    background: #ff8181;
  }
  .content {
    margin-bottom: 3%;
  }
  .content a {
    text-decoration: none; /* Altı çizgiyi kaldır */
    color: inherit; /* Bağlantı rengini varsayılan metin rengi olarak ayarla */
  } 
  .content a:hover {
    text-decoration: underline; /* Üzerine gelindiğinde altı çizgiyi geri ekle */
  }
  .content h2 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
  .content h3 {
    margin: 5px;
    font-size: 25px;
    color: #000;
  }
  @media (min-width: 640px) {
    .content, .custom {
      width: 40%;
    }
    .box-right .content {
      order: 1;
      padding-right: 10px;
      border-radius: 25px;
    }
    .box-right .custom {
      order: 3;
    }
  }
 

/*HOBİLER*/

.triathlon {
  margin: auto;
  margin-top: 150px;
  width: 960px;
}

.block {
  margin: 5px;
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border: 5px solid #000;
  border-radius: 15px;
  float: left;
  background: #fff;
}
.block .title {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ff6565;
}

@media all and (max-width: 959px) {
  .triathlon {
    width: 320px;
  }
  .block {
    float: none;
    margin: 10px auto 20px;
  }
}

@keyframes wavesmove {
  from {left: 0; }
  to {left: -290px;}
}
@keyframes bob {
  0% { bottom: 40px; }
  50% { bottom: 34px; }
  100% { bottom: 40px; }
}

.swim .water {
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  background: #000;
  height: 80px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.swim .waves {
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 592px;
  animation: wavesmove 3s infinite;
  animation-timing-function: linear;
}
.swim .wave {
  margin-right: -3px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  float: left;
}
.swim .person {
  position: absolute;
  bottom: 40px;
  left: 160px;
  animation: bob 2000ms infinite;
  animation-timing-function: linear;
}
.swim .person .head {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #000;
  margin-top: 3px;
}
.swim .person .body {
  width: 100px;
  height: 20px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: -86px;
  top: 26px;
  transform: rotate(-10deg) skewX(10deg);
  transform-origin: right top;
}
.swim .person .arm {
  position: absolute;
  top: 45px;
  left: -10px;
  transform: rotate(113deg);
}
.swim .person .arm .shoulder {
  border-radius: 10px;
  background: #000;
  width: 68px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0;
}
.swim .person .arm .forearm {
  border-radius: 10px;
  background: #000;
  width: 17px;
  height: 60px;
  position: absolute;
  top: -42px;
  left: -75px;
  transform: rotate(-18deg);
}


@keyframes spintires {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}
@keyframes bikepedal {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes bikeclip {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.bike .road {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 8px;
}
.bike .components {
  position: absolute;
  top: 42px;
  left: 12px;
  z-index: 5;
}
.bike .frame {
  position: absolute;
  top: 78px;
  left: 82px;
}
.bike .frame .toptube {
  height: 10px;
  width: 100px;
  background: #000;
  border-radius: 5px;
  margin-left: 2px;
}
.bike .frame .seattube {
  height: 13px;
  background: #000;
  width: 105px;
  position: absolute;
  top: 22px;
  left: -33px;
  border-radius: 5px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(65deg);
  transform-origin: left, top;
}
.bike .frame .downtube {
  width: 92px;
  height: 13px;
  border-radius: 5px;
  border-top-left-radius: 54%;
  border-bottom-left-radius: 54%;
  background: #000;
  position: absolute;
  top: 41px;
  left: 24px;
  transform: rotate(-37deg);
}
.bike .frame .seatstay {
  width: 5px;
  height: 77px;
  background: #000;
  position: absolute;
  top: -4px;
  left: -11px;
  z-index: 2;
  transform: rotate(27deg);
}
.bike .frame .chainstay {
  width: 67px;
  height: 4px;
  background: #000;
  position: absolute;
  top: 70px;
  left: -29px;
  z-index: 2;
}
.bike .frame .chainset {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #000;
  position: absolute;
  top: 56px;
  left: 25px;
}
.bike .frame .chainset:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 12px;
  border: 2px solid #fff;
  background: #000;
  margin-top: 4px;
  margin-left: 4px;
}
.bike .frame .chain {
  height: 1px;
  width: 67px;
  background: #000;
  position: absolute;
  bottom: -52px;
  left: -27px;
  z-index: 2;
  transform: rotate(-6deg);
}
.bike .frame .chain.bottom {
  transform: rotate(5deg);
  bottom: -73px;
}
.bike .frame .saddle {
  position: absolute;
  top: -27px;
  left: -26px;
}
.bike .frame .saddle .rear {
  width: 22px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  border-top-right-radius: 0;
  transform: rotate(19deg);
}
.bike .frame .saddle .front {
  width: 45px;
  height: 13px;
  border-radius: 43%;
  background: #000;
  position: absolute;
  top: 1px;
  left: 0px;
}
.bike .frame .fork {
  width: 10px;
  height: 100px;
  border-radius: 4px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 2;
  background: #000;
  position: absolute;
  top: -20px;
  right: -17px;
  transform: rotate(-30deg);
}
.bike .frame .stem {
  height: 8px;
  width: 30px;
  border-radius: 4px;
  background: #000;
  position: absolute;
  top: -16px;
  right: -13px;
  transform: rotate(-10deg);
}
.bike .frame .handlebars {
  overflow: hidden;
  width: 34px;
  height: 60px;
  position: absolute;
  top: -34px;
  right: -42px;
  transform: rotate(-15deg);
}
.bike .frame .handlebars:after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: -14px;
  width: 14px;
  height: 14px;
  border: 8px solid #000;
  border-radius: 14px;
}
.bike .frame .pedal {
  position: absolute;
  top: 46px;
  left: 32px;
  width: 15px;
  height: 25px;
  animation: bikepedal 2500ms infinite;
  animation-timing-function: linear;
  transform-origin: bottom center;
}
.bike .frame .pedal .crank {
  background: #000;
  width: 5px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: 4px;
}
.bike .frame .pedal .clip {
  background: #000;
  width: 15px;
  height: 3px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0px;
  animation: bikeclip 2500ms infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}
.bike .wheel {
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 50px;
  position: absolute;
  top: 100px;
  animation: spintires 800ms infinite;
  animation-timing-function: linear;
}
.bike .wheel.back {
  left: 4px;
}
.bike .wheel.front {
  left: 170px;
}
.bike .wheel .tire {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 40px;
}
.bike .wheel .hub {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 5px;
}
.bike .wheel.back .hub:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -9px;
  margin-left: -9px;
  box-sizing: border-box;
}
.bike .wheel .spoke {
  position: absolute;
  width: 2px;
  height: 90px;
  background: #000;
  left: 50%;
  margin-left: -1px;
}
.bike .wheel .spoke.a45 {
  transform: rotate(45deg);
  margin-top: -5px;
}
.bike .wheel .spoke.a90 {
  transform: rotate(90deg);
  margin-top: -5px;
}
.bike .wheel .spoke.a135 {
  transform: rotate(135deg);
  margin-top: -5px;
}
.bike .wheel .spoke.a23 {
  transform: rotate(23deg);
  margin-top: -5px;
}
.bike .wheel .spoke.a68 {
  transform: rotate(68deg);
  margin-top: -5px;
}
.bike .wheel .spoke.a113 {
  transform: rotate(113deg);
  margin-top: -5px;
}
.bike .wheel .spoke.a158 {
  transform: rotate(158deg);
  margin-top: -5px;
}
.bike .person {
  position: absolute;
  top: -3px;
  left: 143px;
}
.bike .person .head {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #000;
}
.bike .person .body {
  height: 24px;
  width: 70px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  top: 28px;
  right: 43px;
  transform: rotate(-15deg);
}
.bike .person .leg {
  position: absolute;
  top: 20px;
  left: -44px;
}

@keyframes bikelegupper {
  0% { transform: rotate(-73deg); }
  50% { transform: rotate(-34deg); }
  100% { transform: rotate(-73deg); }
}
@keyframes bikeleglower {
  0% { transform: rotate(82deg); right: -7px; height: 62px; }
  25% { transform: rotate(39deg); right: -4px; }
  50% { transform: rotate(32deg); right: -1px; height: 70px; }
  75% { transform: rotate(86deg); right: -4px; }
  100% { transform: rotate(82deg); right: -7px; height: 62px; }
}

.bike .person .leg .upper {
  width: 20px;
  height: 75px;
  border-radius: 9px;
  background: #000;
  transform: rotate(-73deg);
  position: absolute;
  top: 25px;
  left: -33px;
  animation: bikelegupper 2500ms infinite;
  animation-timing-function: linear;
  transform-origin: center top;
}
.bike .person .leg .lower {
  width: 18px;
  height: 65px;
  border-radius: 9px;
  background: #000;
  transform: rotate(82deg);
  position: absolute;
  top: 65px;
  right: -5px;
  animation: bikeleglower 2500ms infinite;
  animation-timing-function: linear;
  transform-origin: center top;
  
}
.bike .person .arm {
  position: absolute;
  top: 35px;
  right: 34px;
}
.bike .person .arm .shoulder {
  background: #000;
  width: 18px;
  height: 35px;
  border-radius: 50%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transform: rotate(-36deg);
}
.bike .person .arm .forearm {
  background: #000;
  width: 46px;
  height: 14px;
  border-radius: 8px;
  position: absolute;
  top: 19px;
  left: 9px;
}

@keyframes runbackground {
  from { left: 0; }
  to { left: -800px; }
}

.run .ground {
  height: 8px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.run .person {
  position: absolute;
  top: 64px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}
.run .person .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
}
.run .person .body {
  height: 70px;
  width: 28px;
  background: #000;
  border-radius: 12px;
  position: absolute;
  top: 52px;
  left: 4px;
  transform: rotate(10deg);
  transform-origin: top center;
}
.run .person .rightarm {
  position: absolute;
  top: 3px;
  left: -3px;
}
.run .person .rightarm .shoulder {
  height: 50px;
  width: 18px;
  background: #000;
  border-radius: 9px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 56px;
  left: 8px;
  transform: rotate(55deg);
  transform-origin: top center;
}
.run .person .rightarm .forearm {
  height: 16px;
  width: 39px;
  background: #000;
  border-radius: 9px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 73px;
  left: -11px;
  transform: rotate(83deg);
  transform-origin: top left;
}
.run .person .leftarm {
  position: absolute;
  top: 3px;
  left: -3px;
}
.run .person .leftarm .shoulder {
  height: 50px;
  width: 18px;
  background: #000;
  border-radius: 9px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 56px;
  left: 8px;
  transform: rotate(-55deg);
  transform-origin: top center;
}
.run .person .leftarm .forearm {
  height: 16px;
  width: 39px;
  background: #000;
  border-radius: 9px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 80px;
  left: 47px;
  transform: rotate(-48deg);
  transform-origin: top left;
}
.run .person .rightleg {
  position: absolute;
  top: 109px;
  left: -6px;
}
.run .person .rightleg .upper {
  height: 56px;
  width: 20px;
  border-radius: 10px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top center;
  transform: rotate(-68deg);
}
.run .person .rightleg .lower {
  height: 60px;
  width: 20px;
  border-radius: 10px;
  background: #000;
  position: absolute;
  top: 10px;
  left: 43px;
  transform-origin: top center;
  transform: rotate(-2deg);
}
.run .person .leftleg {
  position: absolute;
  top: 107px;
  left: 2px;
}
.run .person .leftleg .upper {
  height: 40px;
  width: 20px;
  border-radius: 10px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top center;
  transform: rotate(34deg);
}
.run .person .leftleg .lower {
  height: 60px;
  width: 19px;
  border-radius: 10px;
  background: #000;
  position: absolute;
  top: 24px;
  left: -13px;
  transform-origin: top center;
  transform: rotate(58deg);
}
.run .background {
  width: 800px;
  height: 260px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: runbackground 7s infinite;
  animation-timing-function: linear;
}
.run .tree {
  position: absolute;
  left: 350px;
  bottom: 0;
  height: 170px;
  width: 20px;
}
.run .tree.two {
  left: 500px;
  height: 130px;
}
.run .tree .trunk {
  height: 180px;
  width: 20px;
  background: #eaeaea;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 80%;
}
.run .tree .trunk:before {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  left: -6px;
  bottom: 0;
  width: 10px;
  height: 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(6deg);
}
.run .tree .trunk:after {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  left: 5px;
  bottom: 0;
  width: 20px;
  height: 67px;
  border-top-right-radius: 50%;
  transform: rotate(-18deg);
}
.run .tree .leaves {
  position: absolute;
  top: -40px;
  left: 0;
}
.run .tree .leaf {
  width: 80px;
  height: 51px;
  border-radius: 50%;
  background: #eaeaea;
  position: absolute;
  top: 0;
  left: 0px;
}
.run .tree .leaf.one {
  width: 97px;
  height: 45px;
}
.run .tree .leaf.two {
  left: -50px;
  top: -10px;
  width: 80px;
  height: 30px;
  transform: rotate(-10deg);
}
.run .tree .leaf.three {
  left: -77px;
  top: 14px;
  height: 34px;
  width: 90px;
}
.run .tree .leaf.three:before {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  bottom: -4px;
  right: 6px;
  width: 40px;
  height: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(24deg);
}
.run .tree .leaf.three:after {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  bottom: -14px;
  right: 46px;
  width: 60px;
  height: 20px;
  border-radius: 50%;
  transform: rotate(-4deg);
}
.run .tree .leaf.four {
  left: 47px;
  top: 51px;
  height: 20px;
  width: 57px;
}
.run .tree .leaf.four:before {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  left: -30px;
  top: 19px;
  height: 9px;
  width: 50px;
  border-radius: 8px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(-16deg);
}
.run .tree .leaf.four:after {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  left: -30px;
  top: 17px;
  height: 9px;
  width: 50px;
  border-radius: 8px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(-8deg);
}
.run .tree .leaf.four span {
  display: block;
  background: #eaeaea;
  position: absolute;
  left: 18px;
  top: 17px;
  height: 9px;
  width: 30px;
  border-radius: 50%;
}
.run .tree .leaf.five {
  left: -60px;
  top: 75px;
  height: 16px;
  width: 42px;
}
.run .tree .leaf.five:before {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  left: 22px;
  top: 13px;
  height: 8px;
  width: 50px;
  border-radius: 8px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(12deg);
}
.run .tree .leaf.five:after {
  content: '';
  display: block;
  background: #eaeaea;
  position: absolute;
  height: 8px;
  width: 20px;
  border-radius: 50%;
  left: 2px;
  bottom: -3px;
}

/*Memleket*/

/* Renkler */
:root {
  --white: #fff;
  --cool-grey-1: #F7FAFC;
  --cool-grey-7: #4F7184;
  --cool-grey-9: #293745;
}

/* Container */
.card-container {
  width: 100vw;
  background-color: var(--cool-grey-1);
  padding: 40px 80px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 100px;
}

.card-container > .title {
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* İstenilen 1. ve 3. kartları yukarı taşıma */
.info-card:nth-child(odd) {
  margin-top: -100px;
}

/* İstenilen 2. ve 4. kartları aşağı taşıma */
.info-card:nth-child(even) {
  margin-top: 100px;
}

/* Card Component */
.info-card {
  width: 304px;
  height: 256px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 40px;
  transition: transform 500ms;
  transition-timing-function: cubic-bezier(1, -0.65, 0, 1.31);
  cursor: pointer;
}

.info-card.-expanded {
  transform: scale(1.08);
}

.info-card > .image {
  background-color: var(--cool-grey-9);
  width: 100%;
  height: 224px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.info-card > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 400ms ease-in, transform 500ms ease-in;
}

.info-card.-expanded > .image > img {
  opacity: 0.2;
  transform: scale(1.1);
}

.info-card > .info {
  width: 280px;
  border-radius: 4px;
  padding: 16px 24px;
  position: absolute;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 0 6px 16px rgba(0, 0, 0, .1);
  transition: box-shadow 400ms;
}

.info-card:hover > .info,
.info-card.-expanded > .info {
  box-shadow: 0 6px 60px rgba(0, 0, 0, .1);
}

.info-card > .info > .title {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--cool-grey-9);
}

.info-card > .info > .description {
  font-weight: 300;
  line-height: 1.5;
  height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--cool-grey-7);
  transition: height 500ms;
  transition-timing-function: cubic-bezier(1, -0.65, 0, 1.31);
}

.life-story {
  padding: 10px;
  text-align: center;
}
.life-story p {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  max-width: 900px;
  max-height: 250px;
  margin: 0 auto;
}